<!-- 主体 -->
<div class="body">
    <dl class="author">
        <dt>毕业院校</dt>
        <dd>
            <div class="avatar">
                <img src="./public/images/IMG_0269_27.gif" alt="">
            </div>
            <div class="info">
                <h5>时间</h5>
                <p>2014.7</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
                <img src="./public/images/IMG_0269_27.gif" alt="">
            </div>
            <div class="info">
                <h5>学校</h5>
                <p>泰山医学院</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
                <img src="./public/images/IMG_0269_27.gif" alt="">
            </div>
            <div class="info">
                <h5>专业</h5>
                <p>信息管理与信息系统</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
                <img src="./public/images/IMG_0269_27.gif" alt="">
            </div>
            <div class="info">
                <h5>主修课程</h5>
                <p>主修课程：计算机系统及应用、C语言、数据库，管理学等</p>
            </div>
        </dd>

    </dl>
</div>