<!-- 主体 -->
<div class="body">
    <dl class="author">
        <dt>专业技能</dt>
        <dd>
            <div class="avatar">
                <img src="./uploads/hd160507-01.png" alt="">
            </div>
            <div class="info">
                <h5>HTML、CSS、JS</h5>
                <p>1.熟练使用HTML、CSS、JS等web前端开发技术，懂得DIV+CSS页面构架及布局。</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
                <img src="./uploads/hd160507-01.png" alt="">
            </div>
            <div class="info">
                <h5>Gulp、git</h5>

                <p>2.熟练使用Gulp前端构建自动化工具，git版本控制工具，Fiddler抓包工具。</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
                <img src="./uploads/hd160507-01.png" alt="">
            </div>
            <div class="info">
                <h5>less</h5>

                <p>3.熟练使用less等css预处理器。</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
                <img src="./uploads/hd160507-01.png" alt="">
            </div>
            <div class="info">
                <h5>jQuery</h5>

                <p>4.熟练使用DOM操作，jQuery等类库。</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
                <img src="./uploads/hd160507-01.png" alt="">
            </div>
            <div class="info">
                <h5>AJAX</h5>

                <p>5.熟练使用AJAX 异步通信技术。</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
                <img src="./uploads/hd160507-01.png" alt="">
            </div>
            <div class="info">
                <h5>Bootstrap，Zepto、iScroll、swiper、fastclick</h5>

                <p>6.熟悉使用Bootstrap，Zepto、iScroll、swipe、fastclick等前端框架。</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
                <img src="./uploads/hd160507-01.png" alt="">
            </div>
            <div class="info">
                <h5>Apache、PHP</h5>

                <p>7.熟悉Apache服务器，能够编写基本的PHP代码。</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
                <img src="./uploads/hd160507-01.png" alt="">
            </div>
            <div class="info">
                <h5>兼容问题</h5>

                <p>8.熟悉网站在不同浏览器上的兼容问题，并熟练解决。</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
                <img src="./uploads/hd160507-01.png" alt="">
            </div>
            <div class="info">
                <h5>node.js</h5>

                <p>9.了解node.js的基本使用。</p>
            </div>
        </dd>

    </dl>
</div>
