<!-- 主体 -->
<div class="body">
    <div class="item">
        <ul class="posts">
            <li>
                <div class="cont">
                    <h3>工作时间</h3>
                    <div class="brief">
                        <p>2014.07-2016.11  </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="cont">
                    <h3>工作单位</h3>
                    <div class="brief">
                        <p>中企动力科技有限公司</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="cont">
                    <h3>职位</h3>
                    <div class="brief">
                        <p>H5前端开发工程师</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="cont">
                    <h3>工作职责</h3>

                    <div class="brief">
                        <p>
                            1、主要负责各种前端页面布局设计，与设计师和后台沟通，参与页面改版以及用户交互的功能设计。
                        </p>

                        <p>
                            2、负责开发公司承包的各种页面的特效轮播图，动画效果与地图Api的研究。
                        </p>

                        <p>
                            3、活动页面的制作与上线，研究一些H5手机端的适应。
                        </p>

                        <p>
                            4、测试和解决浏览器小bug问题。
                        </p>

                        <p>
                            5、注重页面用户交互效果，审查用户体验细节并修正。
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
