<!-- 主体 -->
<div class="item">
    <!-- 日期分类 -->
    <ul class="posts large">
        <!-- 文章 -->
        <li>
            <div class="cont">
                <h3>姓名</h3>

                <div class="brief">
                    <p>倪亚贤</p>

                    <div class="thumb">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="cont">
                <h3>联系方式</h3>

                <div class="brief">
                    <p>13521049244</p>

                    <div class="thumb">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="cont">
                <h3>E-Mail</h3>

                <div class="brief">
                    <p>18865382130@163.com</p>
                </div>
            </div>
        </li>
        <li>
            <div class="cont">
                <h3>微信号</h3>

                <div class="brief">
                    <p>qq846130907</p>

                    <div class="thumb">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="cont">
                <h3>性 别</h3>

                <div class="brief">
                    <p>男</p>

                    <div class="thumb">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="cont">
                <h3>年 龄</h3>

                <div class="brief">
                    <p>25岁</p>

                    <div class="thumb">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="cont">
                <h3>学 历</h3>

                <div class="brief">
                    <p>本科</p>

                    <div class="thumb">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="cont">
                <h3>现居地点</h3>

                <div class="brief">
                    <p>北京</p>

                    <div class="thumb">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="cont">
                <h3>工作年限</h3>

                <div class="brief">
                    <p>3年</p>

                    <div class="thumb">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="cont">
                <h3> 到岗时间</h3>

                <div class="brief">
                    <p>随时到岗</p>
                </div>
            </div>
        </li>
    </ul>
</div>