<!-- 主体 -->
<dl class="works">
    <dt>项目经验</dt>
    <dd>
        <div class="avatar">
            <img src="./uploads/hd160507-14.png" alt="">
        </div>
        <div class="info">
            <h5>关于此简历</h5>

            <p>开发周期：1个月</p>

            <p>仿豆瓣一刻（移动端），主要使用AngularJS实现数据绑定，使用CSS3新属性实现动画效果，
                运用less预处理器实现页面样式，运用多媒体查询实现移动端窗口适配。</p>

            <p>技术支持：html+less+angularJS</p>
        </div>
    </dd>
    <dd>
        <div class="avatar">
            <img src="./uploads/hd160507-14.png" alt="">
        </div>
        <div class="info">
            <h5>山东五六人旅游信息技术有限公司</h5>

            <p>项目介绍：山东五六人旅游网在线上已接通全国范围的在线旅游平台。旅游商品方面也已成立起专业团队，致
                力于山东特色旅游商品的研发，结合电商平台力争打造出新的旅游商品营销模式。
            </p>

            <p> 根据本公司的UI原型图，完成整个网站的搭建，并负责后期网站的维护工作。</p>

            <p> 技术支持：html+css+js+jq+ajax</p>
        </div>
    </dd>

    <dd>
        <div class="avatar">
            <img src="./uploads/hd160507-14.png" alt="">
        </div>
        <div class="info">
            <h5> 多人博客论坛（线下项目）</h5>

            <p>项目介绍：公司承接一个小的广告公司的博客项目，主要任务就是利用nodejs的无阻塞I/O进行多并发的处 理
                但是因为某些原因，项目并未上线。</p>

            <p>个人职责：与前端同事进行配合完成登录与注册页面的html，css样式，js动态效果展示，以及ajax请求，
                验证码的实现，完成cookie的简单处理。
            </p>

            <p> 技术支持：
                cookie和seeion的应用。
                登录验证码的实现原理。
                Nodejs加载模块的实现原理。
                CMD和AMD的求别和加载机制。
                Nodejs的核心模块，expressjs’的简单运用
            </p>
        </div>
    </dd>
    <dd>
        <div class="avatar">
            <img src="./uploads/hd160507-14.png" alt="">
        </div>
        <div class="info">
            <h5>力生体育商城网站</h5>

            <p>项目介绍： 力生体育商城商城是一个集互联网品牌商家与特色分销渠道于一体的综合性电子商务平台。
            </p>

            <p>负责模块: 完成网站首面 , 登录注册页 , 商品列表 , 商品展示 , 购物车 , 结算页面 ;
            </p>

            <p> 手写 HTML 和 CSS 代码，完成静态页面；
                使用正则表达式实现前端验证；
                使用 Less 完成公共 CSS的抽取；
                使用 Ajax 前后端交互 json 数据和实现跨域请求
                使用Ajax获取后台数据，并处理返回的JSON格式的数据，使其能够在页面中显示；
                使用jQuery对页面在表单中输入的数据进行合法性校验；
                好的浏览器兼容性，能够在 Chrome， FireFox，IE7 以上版本正常运行。
            </p>
        </div>
    </dd>
    <dd>
        <div class="avatar">
            <img src="./uploads/hd160507-14.png" alt="">
        </div>
        <div class="info">
            <h5>医疗服务系统 </h5>

            <p>项目介绍：一个专注于医疗服务的系统应用，包括康复医疗系统和远程会诊模块，具体包括智能提醒，
                病号查询，医疗资讯，在线咨询服务，保存电子病历，远程会诊等。接待预约会诊等服务，根据患者的。
                康护需求提供个性化的医疗护理服务，为患者的健康提供有效的保障。
            </p>

            <p>负责模块: 明确产品经理的要求，迅速与后台程序员完成接口对接。

            </p>

            <p>技术支持：1、按照UI提供的页面设计图，设计前端架构，使用html5+css3编写页面；
                2、负责系统各功能模块的开发，包括电子病历，医疗资讯，在线服务，预约会诊等；
                3、使用css完成二级菜单；
                4、Ajax进行对后台数据请求，同步系统数据，对数据库信息增删改查；
                5、从视觉和易用性角度，为网站设计提供改进建议，为网站 / 客户端的页面提供持续优化方案；
                6、配合程序进行前端代码的调试、 bug修复、浏览器兼容性调优；
            </p>

        </div>
    </dd>


</dl>

